<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holy Webi</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Css/Layout/css/style.css" rel="stylesheet" />

</head>
<body>
    <header id="header" class="fixed-top d-flex align-items-center ">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <div class="logo me-auto  " style="display: flex; text-align: center;">
                  <img src="~/Content/Css/צילום מסך 2022-04-05 002322.png"  />

                <h1 ><a href="/Home/index" >HolyWebi</a>  </h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">


                @Html.ActionLink("דף הבית", "index", "Home")
                @Html.ActionLink("כתובת", "Contact", "Home")
                @Html.ActionLink("עלינו", "About", "Home")
            </nav>
            @Html.Partial("_LoginPartial")

        </div>
    </header><!-- End Header -->

    <main id="main">

        <!-- ======= Breadcrumbs Section ======= -->
       

        <section class="inner-page">
            <div class="container">
                <p>
                    @RenderBody()
                </p>
            </div>
        </section>

    </main>
    <hr />
    <footer id="footer">
        <div class="container">
            <h3>Holy-Webi</h3>
            <p>התפללו איתנו!</p>


        </div>
    </footer>

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<style>
    body {
        background-color: moccasin;
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
    }

</style>
    }